

<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bhushan</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card card-body h-100 border-info" id='profile_center'>
          <img id='profile_pic'src="{%static 'images/my_profile.jpeg' %}" alt="my profile">
          <hr>
          <h4>Hi I'm Bhushan!</h4>
          <p>I love programming, web developing and problem solving </p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card card-body h-100 border-info">
        <h4>About Me</h4>
        <hr>
        <p>I started my journey of coding from class 7th with some basics of C programming language and learning linux commands. It looked cool for the start and later things became more beautiful after working on basic projcets like Calculator,Number games.
          Later I learned C++ and still using it for competitive programming and creating management systems</p>

        <p>I learned frontend and for backend using node.js and express.js which taught a lot abt servers and post, get methods
          Creating fully functional form and using them was totally awesome.
        </p>

        <p>For handling the data I studied  MongoDB and learnt to manage DataBases used Mongoose and connected DB to my servers
            Uploaded my First Site on Heroku which was a fully functional TodoList.
        </p>

        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h4>Experience as Web Developer</h4>
          <hr>
          <p>I learnt HTML, CSS, JS and started building static sites.
          Studying HTML was easy and I got used to the tags very quickly.
        CSS was little difficult at start cause using notepad and remembering all the attributes was a tough task.
        JS is  my one of the favourite language and is also globally  most used one. Using DOM and JQuery was awesome and really very interesting</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h4>What I know</h4>
          <hr>
          <p>C, C++, Python, Django, HTML/CSS, Javascript, React,JS DOM, JQuery, Node.js, Express.js, MongoDB, MOngoose</p>

          PS: Getting my hands on AL, Machine Learning and Deep Learning
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h4>How I learn</h4>
          <p>GeeksForGeeks and StackOverFlow were the helping hands</p>
          <p>Went to random good looking sites and using chrom inspect tool to see what's new that i dont know and then searching for it on Net
          Gave a Lot of Time and practiced alot by facing all the failures</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h4>My Goals</h4>
          <p>My one biggest dream is to be greatest Cybersecurity Agent of all time
          Cretaing my own password hashes and payloads. Finding Vulnerabilities and exploiting them</p>
        </div>
      </div>
    </div>

  </div>



</body>

</html>
